<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phase 3</title>
</head>
{% if result %}
<h2>Result for {{ algorithm }}:</h2>
{% if algorithm == 'knn' %}
    <p>This is the result for the KNN algorithm:</p>
    {{ result|safe }}
{% elif algorithm == 'one_class_svm' %}
    <p>This is the result for the One-Class SVM algorithm:</p>
    {{ result|safe }}
{% elif algorithm == 'log_reg' %}
    <p>This is the result for the Logistic Regression algorithm:</p>
    {{ result|safe }}
{% endif %}
{% endif %}
<body>
    <h1>Upload Dataset and Choose Algoritm</h1>
    <form method="post" enctype="multipart/form-data">
        <label for="file">Choose CSV file:</label>
        <input type="file" name="file" accept=".csv" required>
        <label for="algorithm">Choose Algorithm:</label>
        <select name="algorithm" required>
            <option value="knn">KNN</option>
            <option value="one_class_svm">One-Class SVM</option>
            <option value="log_reg">Logistic Regression</option>
        </select>
        <button type="submit">Submit</button>
    </form>


</body>
</html>